<div class="cards">
  <% catches.each do |catch| %>
  <div>
    <%= link_to catch_animal_path(catch.id, catch.animal.id) do %>
      <div class="card card-img"
        style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= catch.animal.photo_url.present? ? catch.animal.photo_url : 'https://lemagduchat.ouest-france.fr/images/dossiers/2021-03/mini/chaton-sante-071721-650-400.jpg' %>)" alt="<%= catch.animal.name %>">
        <div class="card-name">
          <%= catch.animal.name %>
        </div>
      </div>
    <% end %>
    <span data-show-collection-id-param=<%=catch.id%> data-action='click->show-collection#removeCatch' >
      <i class="fa-regular fa-trash-can"></i>
    </span>

  </div>
  <% end %>
</div>
