<h1><%= @collection.name.capitalize %></h1>

<div data-controller='show-collection' data-show-collection-collection-value=<%= @collection.id %>>
  <div class="btn btn-outline-secondary">
    <%= link_to 'Back to collections', user_collections_path(current_user) %>
  </div>
  <ul>
      <li>Description : <%= @collection.description %></li>
  </ul>

  <div class="catches-list"
       data-show-collection-target="list">
      <%= render 'catches_collection', catches: @collection.catches %>
  </div>

  <div class='btn btn-outline-secondary'
       data-action="click->show-collection#revealAnimals">
    Add an animal
  </div>
  <div class='collection-animals'>
    <%= render 'display_animals', collection: @catches_all %>
  </div>


  <div class="add-catch">
    <div class="btn btn-outline-secondary"
         data-action="click->show-collection#addCatch">
        Validate
    </div>
  </div>
</div>

<div class='btn btn-outline-secondary'
      data-action="click->show-collection#revealFormEdit">
    Edit a collection
</div>
  <%# <%= render 'form_edit', collection: @collection %>
<div class="d-none"
      data-show-collection-target= "form">
  <%= simple_form_for [current_user, @collection] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit :edit, class: "btn btn-success text-white" %>
  <% end %>
</div>
</div>
