<h1><%= @collection.name.capitalize %></h1>

<div class="btn btn-outline-secondary">
  <%= link_to 'Back to collections', user_collections_path(current_user) %>
</div>
<ul>
    <li>Description : <%= @collection.description %></li>
    <%# should add something to display not all animals but only those chosen %>
    <% @animals.each do |animal| %>
      <li><%= animal.photo_url %></li>
      <li><%= animal.name %></li>
      <%= link_to 'Delete an animal', collection_path(@collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-secondary' %>
    <% end %>
</ul>

<div data-controller='show-collection'>
  <div class='btn btn-outline-secondary'
       data-action="click->show-collection#revealAnimals">
    Add an animal
  </div>
  <%# <%= render 'add_animals', collection: @collection %>
  <div class="d-none"
       data-show-collection-target= "animal">
    <ul>
      <% @animals.each do |animal| %>
        <li><%= animal.photo_url %></li>
        <li><%= animal.name %></li>
        <%= link_to 'Delete an animal', collection_path(@collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-secondary' %>
      <% end %>
    </ul>
  </div>


  <div class='btn btn-outline-secondary'
       data-action="click->show-collection#revealFormEdit">
    Edit a collection
  </div>
    <%# <%= render 'form_edit', collection: @collection %>
  <div class="d-none"
       data-show-collection-target= "form">
    <%= simple_form_for [current_user, @collection] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit :edit, class: "btn btn-success text-white" %>
    <% end %>
  </div>
</div>
