<div class="container-body">
  <div data-controller='show-collection' data-show-collection-collection-value=<%= @collection.id %>>
    <%= link_to url_for(:back) do %>
      <div class="btn btn-outline-secondary btn-back">↩</div>
    <% end %>
    <% if @collection != current_user.collections[0] && current_user.id == params[:user_id].to_i %>
    <div class='btn-add-collec'>
      <%= link_to collection_path(@collection), data: {turbo_method: :delete} do %>
        <i class="fa-regular fa-trash-can trash-delete-collec"></i>
      <% end %>
    <% end %>
    </div>
  <hr>

    <%= render 'searchbar_collection' %>

    <h1><%= @collection.name.capitalize %></h1>

    <p>
      Description : <%= @collection.description %>
    </p>

    <% if @collection != current_user.collections[0] && current_user.id == params[:user_id].to_i %>
      <div class='btn-edit'
            data-action="click->show-collection#revealFormEdit">
          <i class="fa-regular fa-pen-to-square"></i>
      </div>
      <div>
        <%= render 'form_edit', collection: @collection %>
      </div>
    <% end %>

  <div data-show-collection-target="list">
    <%= render 'catches_collection', catches: @catches %>
  </div>

  <% if @collection != current_user.collections[0] && current_user.id == params[:user_id].to_i %>
    <div class='btn-add-animal'
        data-action="click->show-collection#revealAnimals">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class='collection-animals'>
      <%= render 'display_animals', collection: @catches_all %>
    </div>
  <% end %>
  </div>
</div>
