<h1><%= @collection.name.capitalize %></h1>

<div class="btn btn-outline-secondary">
  <%= link_to 'Back to collections', user_collections_path(current_user) %>
</div>
<ul>
    <li>Description : <%= @collection.description %></li>
</ul>

<div class='btn btn-outline-secondary'>Add an animal</div>
<div>
  <%= render 'add_animals', collection: @collection %>
</div>

<div class='btn btn-outline-secondary'>Edit a collection</div>
<div>
  <%= render 'form_edit', collection: @collection %>
</div>

<%# add js to open the editor %>

<%# add a button to add photos to collection %>
<%# add a button to delete photos from collection %>
