<div>
  <div class="title-pages">
    <h1>Friend Profile</h1>
  </div>
  <div class="profile-container">
    <div class="profile-pic">
      <%= cl_image_tag @friend.photo.key, :height=>180, :width=>180, :gravity=>"auto", :crop=>"fill", style: 'margin-top: 25px' if @friend.photo.attached? %>
    </div>
    <br>
    <p><strong>Username:</strong> <%= @friend.username %></p>

    <h2>Badges</h2>
    <div>
      <ul class="badge-display">
        <% @friend.badges.each do |badge| %>
          <% if badge.photo.attached? %>
            <%= cl_image_tag badge.photo.key, class:"badge-photo" %>
          <p><%= badge.name %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
    <h2>Collections</h2>
    <div class="centerd-render-element">
        <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
          <div class="card-name">
            <%= link_to 'General', user_collection_path(@friend, @friend.collections[0]) %>
          </div>
        </div>
    </div>
    <br>
    <%= link_to 'view other collections' , user_collections_path(@friend), class:"btn btn-back btn-secondary" %>
    <br>
    <br>
    <%=link_to 'back to friendships' , friends_path, class:"btn btn-back btn-primary" %>

    <% if policy(@friend).update? %>
      <%= link_to "Edit", edit_friend_path(@friend) %>
    <% end %>

    <% if policy(@friend).destroy? %>
      <%= link_to "Remove Friend", friend_path(@friend), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
