<br>
<h1>Friend Profile</h1>
<div class="profile-container">
  <div class="profile-pic">
    <%= image_tag @friend.photo if @friend.photo.attached? %>
  </div>
  <br>
  <p><strong>Username:</strong> <%= @friend.username %></p>

  <h2>Badges</h2>
  <div>
    <ul class="badge-display">
      <% @friend.badges.each do |badge| %>
        <% if badge.photo.attached? %>
          <%= cl_image_tag badge.photo.key, class:"badge-photo" %>
        <p><%= badge.name %></p>
        <% end %>
      <% end %>
    </ul>
  </div>
  <h2>Collections</h2>

  <%= render 'shared/cards_collection', collections: @friend.collections %>
  <br>
  <%=link_to 'back to friendships' , friends_path, class:"btn btn-back btn-secondary" %>

  <% if policy(@friend).update? %>
    <%= link_to "Edit", edit_friend_path(@friend) %>
  <% end %>

  <% if policy(@friend).destroy? %>
    <%= link_to "Remove Friend", friend_path(@friend), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr class="invisible-hr">
</div>
<style>
  .invisible-hr {
    color: white;
  }
</style>
