

<%# FOOTER %>
<div class="footer-container">
  <div class="row">

  <%# Friends %>
    <div class="col">
      <% if current_page?(friends_path) %>
        <%= link_to friends_path do %>
          <i class="fa-solid fa-user-group icon icon-footer active"></i>
        <% end %>
      <% else %>
        <%= link_to friends_path do %>
          <i class="fa-solid fa-user-group icon icon-footer"></i>
        <% end %>
      <% end %>
    </div>
  <%# /Friends %>

  <%# Collections %>
    <div class="col">
      <% if current_page?(root_path) %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-layer-group icon icon-footer active"></i>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-layer-group icon icon-footer"></i>
        <% end %>
      <% end %>
    </div>
  <%# /Collections %>

  <%# Home %>
    <div class="col">
      <% if current_page?(root_path) %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-camera icon icon-footer active"></i>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-camera icon icon-footer"></i>
        <% end %>
      <% end %>
    </div>
  <%# /Home %>

  <%# Search %>
    <div class="col">
      <% if current_page?(root_path) %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-magnifying-glass icon icon-footer active"></i>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-magnifying-glass icon icon-footer"></i>
        <% end %>
      <% end %>
    </div>
  <%# /Search %>

  <%# Settings %>
    <div class="col">
      <% if current_page?(settings_path) %>
        <%= link_to settings_path do %>
          <i class="fa-solid fa-gear icon icon-footer active"></i>
        <% end %>
      <% else %>
        <%= link_to settings_path do %>
          <i class="fa-solid fa-gear icon icon-footer"></i>
        <% end %>
      <% end %>
    </div>
  <%# /Settings %>

  </div>
</div>
