<div class="container-mobile">
  <div class="background-home" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= animal.photo_url%>)">
  </div>
  <div class="container">
    <h1><%= animal.name%></h1>
    <p><%= animal.scientific_name %></p>
    <p class='text-primary-light'><%= animal.description %></p>
    <div class="d-flex justify-content-evenly">
      <%= button_to "Refuse", root_path, class:'btn btn-outline-secondary btn-home-acceptrefuse' %>
      <button data-action="click->home#createTaxonomy" class = "btn btn-secondary btn-home-acceptrefuse" >Accept</button>
    </div>
  </div>
</div>
