<h1>The Title h1</h1>
<h2>The Title h2</h2>
<h3>The Title h3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et corrupti magni doloribus, temporibus fuga recusandae dolores voluptates cum est obcaecati! Nesciunt ipsam maxime accusamus mollitia quisquam sint beatae voluptate.</p>
<p><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui in quod fuga unde assumenda repellendus perferendis consectetur, aspernatur velit nihil tempore, tempora incidunt veritatis necessitatibus molestias suscipit vel eius doloribus!</strong></p>

<hr>

<%= render "/shared/friends_index_view" %>

<hr>

<div class="btn btn-primary btn-large">hello</div>
<div class='btn btn-primary p-2'>Press Me 😉</div>
<div class='btn btn-secondary p-2'>Press Me 😉</div>
<div class='btn btn-outline-primary p-2'>Press Me 😉</div>
<div class='btn btn-outline-secondary p-2'>Press Me 😉</div>
</div>

<hr>


<i class="fa-solid fa-user-group icon icon-footer"></i>
<i class="fa-solid fa-layer-group icon icon-footer"></i>
<i class="fa-solid fa-camera icon icon-footer"></i>
<i class="fa-solid fa-magnifying-glass icon icon-footer"></i>
<i class="fa-solid fa-gear icon icon-footer"></i>

<i class="fa-solid fa-check icon icon-accept"></i>
<i class="fa-solid fa-xmark icon icon-refuse"></i>
<i class="fa-solid fa-trash-can icon icon-delete"></i>

<hr>

<nav class="navbar">
  <div class="navbar-logo">
    <img src=<%= image_path('Foxyvert.png') %> alt="Logo Vert">
  </div>
  <div class="navbar-profile">
    <a href=<%= user_path(current_user) %> >
      <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %>
    </a>
  </div>
</nav>

<hr>

<nav class="navbarpages">
  <div class="navbarpages-logo">
    <img src=<%= image_path('Foxybeige.png') %> alt="Logo Beige">
  </div>
  <div class="navbarpages-profile">
    <a href=<%= user_path(current_user) %> >
      <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %>
    </a>
  </div>
</nav>

<hr>

<%# <%= render 'shared/cards_general_collection' %>
<%# <%= render 'shared/cards_collection' %>

<hr>

<%= render "shared/footer" %>
