<div class="card-content">
<img src= <%= @animal.photo_url %> alt="">
  <div class="card-title"><%= @animal.name%></div>
  <div class="card-address"><%= @animal.scientific_name%></div>
  <div class="card-rating"><%= @animal.description%></div>
  <div class="card-price"><%= @animal.location %></div>
  <div><%= @animal.taxonomy.name%></div>
</div>
